@page "/counter"
    <!DOCTYPE html>
    <!--  Last Published: Mon Jun 01 2020 04:17:47 GMT+0000 (Coordinated Universal Time)  -->
    <html data-wf-page="5ecceaa5b6d0370b08cca538" data-wf-site="5ec2d8ba5aab1b0a2602941c">
    <head>
        <meta charset="utf-8">
        <title>Digital Eye - Преимущества</title>
        <meta content="Digital Eye - Преимущества" property="og:title">
        <meta content="Digital Eye - Преимущества" property="twitter:title">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
        <link href="images/webclip.jpg" rel="apple-touch-icon">
    </head>
    <body class="body-employee">
        
        
        <div class="main-content">
            <h1 class="cta features">Преимущества</h1>
            <div class="features-row w-row">
                <div class="column-6 w-col w-col-3">
                    <h3 class="heading-4">Обучение</h3>
                    <div class="text-block-8">Функции которые упростят вам процесс обучения участников.</div>
                </div>
                <div class="features-column w-col w-col-3">
                    <img src="images/eye-stream-1.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Прямой эфир</h5><img src="images/eye-stream-1.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Онлайн экзамены</h5><img src="images/eye-homework-1.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Домашние задания</h5>
                </div>
                <div class="features-column w-col w-col-3">
                    <img src="images/eye-zachet-1.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Зачетная книжка</h5><img src="images/eye-lectures-1.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Лекции</h5><img src="images/eye-proctoe-1.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Прокторинг</h5>
                </div>
                <div class="features-column w-col w-col-3">
                    <img src="images/eye-testing-1.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Тестирование</h5><img src="images/eye-materials-1.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Учебные материалы</h5><img src="images/eye-survey-1.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Опросы и викторины</h5>
                </div>
            </div>
            <div class="features-row w-row">
                <div class="column-5 w-col w-col-3">
                    <h3 class="heading-4">Биометрия и видеонаблюдение</h3>
                    <div class="text-block-8">Автоматизация процессов контроля за учащимися с помощью видеонаблюдения.</div>
                </div>
                <div class="features-column w-col w-col-3">
                    <img src="images/eye-webcam-1.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Онлайн наблюдение и видеозапись</h5><img src="images/eye-mocap.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Распознавание движений</h5><img src="images/eye-focus.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Отслеживание фокуса</h5>
                </div>
                <div class="features-column w-col w-col-3">
                    <img src="images/eye-webcam2.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Подключение второй камеры</h5><img src="images/eye-voiceid.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Распознавание голоса</h5><img src="images/eye-ai.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Исскуственный интеллект<br>и машинное обучение</h5>
                </div>
                <div class="features-column w-col w-col-3">
                    <img src="images/eye-faceid.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Биометрия лица</h5><img src="images/eye-doscan.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Распознавание документов</h5><img src="images/eye-livepopin.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Live Pop-In</h5>
                </div>
            </div>
            <div class="features-row w-row">
                <div class="column-4 w-col w-col-3">
                    <h3 class="heading-4">Технические возможности</h3>
                    <div class="text-block-8">Функционал и возможности для масштабируемости вашего проекта.</div>
                </div>
                <div class="features-column w-col w-col-3">
                    <img src="images/eye-splitlock.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Блокировка параллельного входа</h5><img src="images/eye-cameradetect.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Распознавание видео на<br>клиентском устройстве</h5><img src="images/eye-api.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Открытый API для интеграции</h5><img src="images/eye-splitscreen.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Двойная проекция<strong></strong></h5>
                </div>
                <div class="features-column w-col w-col-3">
                    <img src="images/eye-copylock.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Защита контента от копирования</h5><img src="images/eye-lowconnect.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Работа на слабых<br>каналах связи</h5><img src="images/eye-moderate.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Модерация контента</h5><img src="images/eye-ssl.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">SSL-шифрование</h5>
                </div>
                <div class="features-column w-col w-col-3">
                    <img src="images/eye-screencast.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Запись рабочего<br>стола</h5><img src="images/eye-adaptive.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Поддержка мобильных<br>устройств и компьютеров</h5><img src="images/eye-analytics.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Отчетность и аналитика</h5><img src="images/eye-datasecurity.svg" height="40" alt="" class="features-icon">
                    <h5 class="features-title">Конфиденциальность данных</h5>
                </div>
            </div>
            <a href="" class="link-block-3 w-inline-block">
                <div>← Вернуться на главную</div>
            </a>
        </div>
        <div class="footer">
            <div class="content-bottom">
                <div class="copyright">© 2020. Inspired by</div><img src="images/logo-aiva-footer.svg" alt="">
            </div>
        </div>

        <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
    </body>
</html>
