@page "/ekzamen"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using QDEYE.Shared
@attribute [Authorize]
@inject HttpClient Http
<body class="body-employee">
    <div class="header inside w-clearfix">
        <div class="header-left"><a href="#" class="header-logo w-inline-block"><img src="images/de-logo.svg" alt="Digital Work - Удобный инструмент для онлайн трудоустройства" class="image-2"></a></div>
        <div class="header-right">
            <img src="images/MeAvatar.jpg" width="40" alt="" class="image-7">
            <div class="text-block-3">Алмат Курмашев</div>
        </div>
    </div>
    <div class="main-content user">
        <div class="de-exams-bg main w-container">
            <h3 class="heading main">Приветствуем, Алмат!</h3>
            <p class="form-paragraph subheader">Выберите экзамен из списка, чтобы сдать экзамен онлайн.</p>
            <div class="exam-list all">
                <div class="list-left">
                    <h4 class="question">Экзамен 1</h4>
                    <div class="text-block-4">Краткое описание первого экзамена</div>
                </div>
                <div class="list-right"><a href="digital-eye-speed-test.html" class="de-btn-80 w-button">Приступить</a></div>
            </div>
            <div class="exam-list">
                <div class="list-left">
                    <h4 class="question">Экзамен 2</h4>
                    <div class="text-block-4">Краткое описание второго экзамена</div>
                </div>
                <div class="list-right"><a href="digital-eye-speed-test.html" class="de-btn-80 w-button">Приступить</a></div>
            </div>
        </div>
    </div>
    <div class="content-bottom inside">
        <div class="copyright">© 2020. Inspired by</div><img src="images/logo-aiva-footer.svg" alt="">
    </div>
</body>
@code {

}
