@page "/ekzamen"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using QDEYE.Shared
@layout ExamLayout
@attribute [Authorize]
@inject HttpClient Http

<body class="body-employee">

    <div class="main-content user">
        <div class="de-exams-bg main w-container">
            <h3 class="heading main">Приветствуем, Алмат!</h3>
            <p class="form-paragraph subheader">Выберите экзамен из списка, чтобы сдать экзамен онлайн.</p>
            @if (forecasts == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {

                @foreach (var forecast in forecasts)
                {
                    <div class="exam-list">
                        <div class="list-left">
                            <h4 class="question">@forecast.name</h4>
                            <div class="text-block-4">@forecast.description</div>
                        </div>
                        <div class="list-right"><a href="Speedtest" class="de-btn-80 w-button">Приступить</a></div>
                    </div>
                }


            }

        </div>
    </div>
    <div class="content-bottom inside">
        <div class="copyright">© 2020. Inspired by</div><img src="images/logo-aiva-footer.svg" alt="">
    </div>
</body>
@code {
    private ExamsModel[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            forecasts = await Http.GetFromJsonAsync<ExamsModel[]>("Exam/Get");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
